<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPPC HV Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <!-- Plotly.js -->
    <script src="{{ url_for('static', filename='js/plotly-2.32.0.min.js') }}" charset="utf-8"></script>
</head>

<body>
    <div class="grid-container">

        <!-- left region -->
        <div class="left-container">
            <h1 class = "title"> MPPC HV Controller </h1>
            <div class="module-manager-container">
                <!-- left column -->
                <div>
                    <!-- module1 -->
                    <div class="module1-block">
                        <fieldset>
                            <legend>module1</legend>

                            <!-- Manage HV -->
                            <div id="module1-hv-switch" class="switch off" name="HV" data-module-id="1"></div>
                            <div>
                                <input type="number" placeholder="Enter HV [V]" id="hv-form-1">
                                <button class="apply-button" href=# name="norm-hv" data-module-id="1">apply</button>
                            </div>

                            <!-- Manage Temp correction -->
                            <details class="details">
                                <summary class="details-summary">
                                    <span class="summary-inner">
                                        Temp. Corr.<span class="icon"></span>
                                    </span>
                                </summary>
                                <div class="details-content">
                                    <div class="content-inner">
                                        <div id="module1-temp-corr-switch" class="switch off" name="Temp" data-module-id="1"></div>
                                        <div>
                                            <input type="number" name="module1-v0" placeholder="Enter V0 [V]"> 
                                            <button class="apply-button" href=# name="temp-hv" data-module-id="1">apply</button>
                                        </div>

                                        <div class="table-wrapper temp-corr">
                                            <table class="temp-corr-table" id="temp-corr-table-1">
                                                <thead>
                                                    <tr>
                                                        <td colspan="2" nowrap> V<sub>corr</sub> = ( ΔT'(T - T<sub>0</sub>)<sup>2</sup> + ΔT(T - T<sub>0</sub>))/1000 + V<sub>0</sub>   </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th> \( V_0 \) </th>
                                                        <th> {{ dict_data.v0 }} </th>
                                                    </tr>
                                                    <tr>
                                                        <th> \( T_0 \) </th>
                                                        <th> {{ dict_data.t0 }} \( {}^\circ {\rm C}\) </th>
                                                    </tr>
                                                    <tr>
                                                        <th> \( \Delta T_{\rm \textcolor{red}{High}} \) </th>
                                                        <th> {{ dict_data.delta_t_h }} </th>
                                                    </tr>
                                                    <tr>
                                                        <th> \( \Delta T^{\prime}_{\rm \textcolor{red}{High}} \) </th>
                                                        <th> {{ dict_data.delta_t_h_prime }} </th>
                                                    </tr>
                                                    <tr>
                                                        <th> \( \Delta T_{\rm \textcolor{blue}{Low}} \) </th>
                                                        <th> {{ dict_data.delta_t_l }} </th>
                                                    </tr>
                                                    <tr>
                                                        <th> \( \Delta T^{\prime}_{\rm \textcolor{blue}{Low}} \) </th>
                                                        <th> {{ dict_data.delta_t_l_prime }} </th>
                                                    </tr>
                                                    
                                            
                                                    
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </details>
        
                            <!-- Manage Status -->
                            <details class="details">
                                <summary class="details-summary">
                                    <span class="summary-inner">
                                        Status<span class="icon"></span>
                                    </span>
                                </summary>
                                <div class="details-content">
                                    <div class="content_inner">
                                        <button class="custom-button status-button" href=# data-module-id="1">Check status</button>
                                        <div class="table-wrapper">
                                            <table class="status-table" id="status-table-1">
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <button class="custom-button reset-button" href=# data-module-id="1">RESET Module1</button>
                                    </div>
                                </div>
                            </details>
                        </fieldset>
                    </div>

                </div> <!-- left column -->

                <!-- right column -->
                <div>

                </div> <!-- right column -->
            </div> <!-- module-manager-container -->

            <div class="table-wrapper">
            <div  class="sticky-table">
            <table class="table" id="log-table">
                <thead>
                    <tr>
                        <th class="sticky">time</th>
                        <th class="sticky">module</th>
                        <th class="sticky">cmd tx</th>
                        <th class="sticky">cmd rx</th>
                        <th class="sticky">status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            </div>
        </div>
            
        </div> <!-- left-container -->

        <!-- right region -->
        <div class="right-container">
            <div id="trend-graph"></div>
        </div> <!-- right-container -->

    </div> <!-- grid-container -->

    <script type=text/javascript src="{{ url_for('static', filename='js/plot.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/accordion.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/switch.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/button.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>
