<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPPC HV Controller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <div class="grid-container">

        <!-- left region -->
        <div class="left-container">
            <h1 class = "title"> MPPC HV Controller </h1>
            <div class="module-manager-container">
                <!-- left column -->
                <div>
                    <!-- module1 -->
                    <div class="module1-block">
                        <fieldset>
                            <legend>module1</legend>

                            <!-- Manage HV -->
                            <div id="module1-hv-switch" class="switch off" name="HV" data-module-id="1"></div>
                            <div>
                                <input type="number" placeholder="Enter HV [V]" id="hv-form-1">
                                <button class="apply-button" href=# name="norm-hv" data-module-id="1">apply</button>
                            </div>

                            <!-- Manage Temp correction -->
                            <details class="details">
                                <summary class="details-summary">
                                    <span class="summary-inner">
                                        Temp. Corr.<span class="icon"></span>
                                    </span>
                                </summary>
                                <div class="details-content">
                                    <div class="content-inner">
                                        <div id="module1-temp-corr-switch" class="switch off" name="Temp" data-module-id="1"></div>
                                        <div>                                           <input type="number" name="module1-delta-t1" placeholder="Enter delta-T1"> 
                                        <input type="number" name="module1-delta-t2" placeholder="Enter delta-T1"> 
                                        <input type="number" name="module1-t0" placeholder="Enter T0 [℃]"> 
                                        <input type="number" name="module1-v0" placeholder="Enter V0 [V]"> 
                                        <button class="apply-button" href=# name="temp-hv" data-module-id="1">apply</button>
                                    </div>

                                        <div class="temp-corr-func">\[ V_{\rm corr} = \frac{\Delta T^{\prime} (T - T_0)^2 + \Delta T (T - T_0) }{1000} + V_0 \]</div>
                                    </div>
                                </div>
                            </details>
        
                            <!-- Manage Status -->
                            <details class="details">
                                <summary class="details-summary">
                                    <span class="summary-inner">
                                        Status<span class="icon"></span>
                                    </span>
                                </summary>
                                <div class="details-content">
                                    <div class="content_inner">
                                        <button class="custom-button status-button" href=# data-module-id="1">Check status</button>
                                        <div class="table-wrapper">
                                            <table class="status-table" id="status-table-1">
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <button class="custom-button reset-button" href=# data-module-id="1">RESET Module1</button>
                                    </div>
                                </div>
                            </details>
                        </fieldset>
                    </div>

                </div> <!-- left column -->

                <!-- right column -->
                <div>

                </div> <!-- right column -->
            </div> <!-- module-manager-container -->

            <div class="table-wrapper">
            <div  class="sticky-table">
            <table class="table" id="log-table">
                <thead>
                    <tr>
                        <th class="sticky">time</th>
                        <th class="sticky">module</th>
                        <th class="sticky">cmd tx</th>
                        <th class="sticky">cmd rx</th>
                        <th class="sticky">status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            </div>
        </div>
            
        </div> <!-- left-container -->

        <!-- right region -->
        <div class="right-container">
            <div id="trend-graph"></div>
        </div> <!-- right-container -->

    </div> <!-- grid-container -->

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Calculation -->
    <script type=text/javascript src="{{ url_for('static', filename='js/plot.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/accordion.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/switch.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/button.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>
